@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased;
    font-feature-settings: "liga" 1, "kern" 1;
  }

  main {
    @apply font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
